<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <div class="entry-container">
        <h1 class="title" style="font-weight: bold;"><%= entry[0].entrytitle %></h1>
        <h6><%= new Date(entry[0].entrydate).toDateString() %></h6>
        <br>
        <h3>Something that happened today:</h3>
        <p><%= entry[0].response1 %></p>
        <h3>Someone that made a difference in your day:</h3>
        <p><%= entry[0].response2 %></p>
        <h3>A memory from today you want to remember:</h3>
        <p><%= entry[0].response3 %></p>
    </div>
</body>
